body{
    background-image: url("images/fondo-pagina.png");
    background-repeat: no-repeat;       
    background-attachment: fixed;   
    font-family: 'Mansalva', cursive;
    color:#333;
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}

.container{
    width: 80%;    
    margin: auto;    
    align-items: center;      
    display: table;    
}

h1{
    color: rgb(150 , 150 , 150);
    text-align: center;
    font-size: 100px;
}

.header{ 
        position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background:white;   

}
.header li{
    display: inline-block;    
}

.navegacion ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;    
    border: 1px solid #0487CF;
    cursor: pointer;
    font-size: 20px;  
    transition: 0.8s;  
    position: relative;
    overflow: hidden;
}

.navegacion{
    float: right;
    margin-top: 20px;  
    margin-bottom: 0;  
}
.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo{
    width: 129px;
    float: left;  
    position: relative;
    overflow: hidden;  
    margin-top: 1.5%;
    padding: 0;  
    transition: 0.8s;  
margin-right: 0.5px;
}
.claro{
    color:white;
    background: #00C1C4
}
.morado{
    color: #A76193;
    
}
 a.morado:hover{
color: #fff;
}
 a.claro:hover{
    color:#A4DAF2;
    background: #fff;
}
.navegacion ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00C1C4;
    z-index: -1;
    transition: 0.8s;
}
a.morado::before{
    top: 0;
    border-radius: 0 0 50% 50%;    
}
a.morado:hover::before{
height: 180%;
}

.search-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00C1C4;
    height: 70px;   
    border-radius: 40px;
    padding: 10px;
   }
   
   .search-box:hover > .search-txt {
    width: 330px;
    padding: 0 6px;
    color: white;
   }
   
   .search-box:hover > .search-btn {
    background: #A4DAF2;
    color: #A76193;  
    padding-bottom: 0;      
   }
   
   .search-btn {    
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00C1C4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    padding-bottom: 10%;
   }
   
   .search-btn > i {
    font-size: 40px;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
   }

   .container2{
    width: 80%;    
    margin: auto;   
    margin-top: 15% ;       
    display: table;      
}
.container3{
    width: 80%;    
    margin: auto;   
    margin-top: 2% ;       
    display: table;      
}
.imagen-port{
    float: left;
    width: 24%;    
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 1.5%;
}

#plast{
font-size: 50px;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(4, 135, 207, .5);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.img{
    width: 25%;
    height: 100%;
    cursor: pointer;
}
.img:hover {
    filter: opacity(.5);
}
.right, .left{  
    display: inline-block;  
       
}
.left{  
    position: fixed;  
    float: left;   
    width: 12%;   
    margin-top: 20px; 
}
.right{
    width: 82%;    
    float: right;
    background: #00C1C4;
    padding: 10px 15px;   
    border-radius: 10px;
    box-shadow: #A4DAF2; 
}
.left ul{
    margin: 0; 
    list-style: none;          
}
.left li a{
display: block;
color: white;
text-decoration: none;
padding: 5px 10px;  
margin-bottom: 5px; 
background:  #00C1C4;
text-align: center;
border-radius: 5px;
border: 0.5px solid #A4DAF2;
}
.left li a:hover{
    color:#A4DAF2;
    background: #fff;
}
#cat{
    padding: 0px 5px;    
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
#cons{
    background: #A76193;
}
.right .img .texto{
    display: inline-block; 
}
.right .img{
    float: left;
}
.right h2, .right h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}
.right p{    
    font-size: 20px;
    text-align: justify;
}

.fa-caret-down{    
float: right;
font-size: 35px;
color: #0487CF;
padding-bottom: 10px;
}


.footer{
    width: 80%; 
margin: auto; 
margin-top: 5%;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgb(0 , 193 , 196);
}

.f0{
height: 30px;
margin-right: 10px;
margin-left: 60px;
}

.f1{
height: 30px;
margin-right: 10px;
margin-left: 10px;
}